<div class="card-columns mt-5">
    <div (click)="seeArtist(item)" *ngFor="let item of items" class="card animated fade fadeIn puntero">
        <img [src]="item.images | noimage" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">
                <span *ngFor="let artist of item.artists" class="badge badge-pill badge-dark">
                    {{artist.name}}
                </span>
            </p>
        </div>
    </div>
</div>